/* css/place-kitty.css */

#basket img {
  position: absolute;
  top: 10px;
  left: 45px;
}

#kitty-2 {
  position: absolute;
  top: 20px;
  left: 80px;
}

.kitty-1 {
  position: absolute;
  top: 40px;
  left: 150px;
}

#wheelbarrow-foreground {
  position: absolute;
  top: 70px;
  left: 60px;
  z-index: 2;
}

#wheelbarrow {
  position: absolute;
  top: 60px;
  left: 60px;
  z-index: 1;
}

#ball {
  position: absolute;
  top: 80px;
  left: 190px;
}

/* Adjust the positioning based on your design */
